*{
    margin: 0px;
}
.centerele{
  display: block;
  margin: inherit auto;
}
html{
  scroll-behavior: smooth;
}
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }