
<div class="footer" style="background-color: rgb(34, 35, 54); color:white;">
    <div class="centerele">
        <table border="0" width="100%" height="300px" style="margin-left: 2%">
            <tr>
                <td>
                    <font size="+3"><i class="fa fa-address-book" aria-hidden="true"></i> Contact</font><br><br>
                    <font size="+1">Got questions about SafePay or the SafePay Gallery?</font>
                </td>
                <td>
                    <font size="+3"><i class="fa fa-eercast" aria-hidden="true"></i> Status</font><br><br>
                    <font size="+1">Find out the service status of SafePay and<br> its related services.</font>
                </td>
                <td>

                    <font size="+3"><i class="fa fa-quora" aria-hidden="true"></i> FAQ</font><br><br>
                    <font size="+1">Read the FAQ about SafePay and see if your question <br>made the list.</font>
                </td>
            </tr>
            <tr>
                
                <td>
                    <font size="+10"><i class="fa fa-handshake-o" aria-hidden="true"></i> Safe Pay</font>
                </td>
                <td colspan="2"><i class="fa fa-copyright" aria-hidden="true"></i> <font size="+0.5">SafePay E-Wallet 2020
                    &nbsp;&nbsp;-&nbsp;&nbsp; Devloped By Ak Lukhi&nbsp;&nbsp; - <a style="color: aliceblue;"
                    routerLink="/policies">Privacy
                        Policy</a></font></td>
            </tr>
        </table>

    </div>
</div>