<app-menu></app-menu>
<h3 class="title">
    <span>About</span>
    Safe Pay
</h3>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> Our goal is to make digital payments so easy, safe and
        universally accepted that people never feel the need to
        carry cash or cards again. We believe India is at the cusp of a new mobile revolution, which will change the
        way
        we manage our money on the go. We see ourselves facilitating this change, through technology and dogged
        customer
        centricity.</font>
</p><br>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> SafePay is a brand owned by FX Mart Pvt Ltd. It is licensed
        by the Reserve Bank
        of India for issuance and operation of a Semi Closed Prepaid Payment system</font>
</p><br><br><br>
<h3 class="title">
    <span>Grievance</span>
    Policy
</h3>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> Grievance Policy
        SafePay application developed by SafePay Private Limited (Formerly FX Mart Private Limited).</font>
</p><br>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i>
        We at SafePay value the trust placed upon us and strive to offer the best experience to You. Our Grievance
        policy has been designed to resolve customer grievances in a timely and efficient manner, while treating our
        customers fairly and courteously.</font>
</p><br>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> Our endeavour is to provide You with a seamless experience
        while transacting via SafePay App and when required,
        our in-app customer redressal support process, is able to address all Your concerns. In rare circumstances
        where, owing to various human, network or system errors, some issues arise requiring a more focused and
        customised redressal, You may refer to the following redressal mechanism in the sequential order.</font>
</p><br><br><br>
<h3 class="title">
    <span>Privacy</span>
    Policy
</h3>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> SafePay is an application (hereinafter referred to as an
        “app”) developed by SafePay Private Limited(Formerly FX
        Mart Private Limited). hereinafter referred to as SafePay. We value the trust you place in us & respect your
        privacy. Hence, we maintain the highest standards for secure transactions and user information privacy.
        Please read the following statement to learn about our information gathering and dissemination practices.
    </font>
</p>
<br><br><br>
<h3 class="title">
    <span>SafePay Terms</span>
    & Conditions
</h3>
<p>
    <font size="+2"><i class="fa fa-hand-o-right"></i> This document is an electronic record in terms of Information
        Technology Act, 2000, amendments thereof from time
        to time and the rules thereunder as applicable and the amended provisions pertaining to electronic records
        in
        various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by
        a
        computer system and does not require any physical or digital signatures.</font>
</p><br><br><br>
<app-footer></app-footer>