<app-menu></app-menu>
<div class="home-inner">
    <div class="container containt">
        <div class="centerele" style="margin-left: 33%;">
            <h1 id="target" style="font-size: 340%;"></h1>
            <h3>keep connecting with us</h3>
            <a class="btn1  btn-lg" style="border-color:rgb(223, 214, 214); color: rgb(255, 255, 255); width:100px;" routerLink='/home' fragment="service">Our
                Services</a>
        </div>
    </div>
</div>

<div class="slideshow-container">

    <div class="mySlides">
        <img src="./assets/img/slide3.jpg"
            style="width:80%; margin-top:5%; margin-left:10%; margin-right:10%; height: 300px; border-radius: 10px; background-size: cover;">
    </div>

    <div class="mySlides">
        <img src="./assets/img/slide1.png"
            style="width:80%; margin-top:5%; margin-left:10%; margin-right:10%; height: 300px; border-radius: 10px; background-size: cover;">
    </div>

    <div class="mySlides">
        <img src="./assets/img/slide4.jpg"
            style="width:80%; margin-top:5%; margin-left:10%; margin-right:10%; height: 300px; border-radius: 10px; background-size: cover;">
    </div>

    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div><br>

</div>
<div class="centerele">
    <div id="service">
        <br><br>

        <h3 class="title">
            <span>Recharge &</span>
            Bill Pay
        </h3>
        <div class="effect" style="display: block; align-items: center; ">
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/mobile.jpg" height="90px" width="80px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">A prepaid mobile device is a mobile for
                        which
                        credit
                        is purchased in advance of service use.</p><br>
                    <button class="btn1"><a routerLink="/mobile-recharge"><b> Recharge</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/bus.PNG" height="90px" width="80px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">Book bus tickets online from SafePay booking bus
                        operators. Choose your bus ticket booking and enjoy.</p><br>
                    <button class="btn1"><a routerLink="/bus-ticket"><b>Bus Ticket</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/train.jpg" height="90px" width="100px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">Enjoy free meal by booking IRCTC train tickets with
                        SafePay and
                        and get discount have
                        the
                        Happy journy.</p><br>
                    <button class="btn1"><a routerLink="/train-ticket"><b>Train Ticket</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/movie.jpg" height="90px" width="110px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">Online Movie Ticket Booking enable user to buy movie
                        tickets online
                        and
                        information about cinemas.</p><br>
                    <button class="btn1"><a routerLink="/movie-ticket"><b>Movie Ticket</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;<img src="assets/img/bulb.jpg" height="90px" width="90px"
                        style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">Electronic bill payment is a feature of mobile
                        banking. In addition
                        to the bill payment facility.</p><br>
                    <button class="btn1"><a routerLink="/electricity-bill"><b>Electricity Bill</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/water.jpg" height="90px" width="80px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">No delays in bill payment, pay water bill online here.
                        SafePay
                        offers
                        you
                        the secure payment platform.</p><br>
                    <button class="btn1"><a routerLink="/water-bill"><b>Water Bill</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/credit.jpg" height="90px" width="110px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">Make Online Credit Card Payment at SafePay. Don't
                        worry about your
                        due
                        dates for Credit Card bill payment.</p><br>
                    <button class="btn1"><a routerLink="/card-bill"><b>Credit card Bill</b></a></button>
                </div>
            </div>
            <div class="box hide">
                <div class="centerele">
                    &nbsp;&nbsp;&nbsp;
                    <img src="assets/img/pipe.jpg" height="90px" width="100px" style="align-items: center; "><br>
                    <p style="margin-right: 8px; font-size:125%;">No more delays in bill payment, pay gas bill online
                        here. SafePay
                        offers
                        you
                        the secure payment platform.</p><br>
                    <button class="btn1"><a routerLink="/gas-bill"><b>Piped Gas Bill</b></a></button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
<div class="centerele">
    <section id="help">
        <br><br><br>

        <div class="parallax">
            <table border="0" width="100%">
                <tr>
                    <td>
                        <div class="centerele">
                            <img src="assets/img/wallet.png" style="border-radius: 10%; width:120px"><br><br>
                            <font size="+2"><b style="color: rgb(211, 31, 55);">Wallets</b></font><br><br>
                            <div class="count" style="font-size:26px; color:white;">850</div>
                        </div>
                    </td>
                    <td>
                        <div class="centerele">
                            <img src="assets/img/transfer.png" style="border-radius: 50%; width:110px	"><br><br>
                            <font size="+2"><b style="color: rgb(211, 31, 55);">Transections</b></font><br><br>
                            <div class="count" style="font-size:26px; color:white;">1023</div>
                        </div>
                    </td>
                    <td>
                        <div class="centerele">
                            <img src="assets/img/operator.png" style="border-radius: 50%; width:110px	"><br><br>
                            <font size="+2"><b style="color: rgb(211, 31, 55);">Operators</b></font><br><br>
                            <div class="count" style="font-size:26px; color:white;">830</div>
                        </div>
                    </td>
                    <td>
                        <div class="centerele">
                            <img src="assets/img/group.png" style="border-radius: 50%; width:150px	"><br><br>
                            <font size="+2"><b style="color: rgb(211, 31, 55);">Clients</b></font><br><br>
                            <div class="count" style="font-size:26px; color:white;">950</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div><br><br><br>
        <h3 class="title">
            <span>
                Our
            </span>
            Services
        </h3>
        <table class="help-desk" border="0" style="margin-top: 40px; margin-left:1.5%;">
            <tr>
                <td>
                    <div class="centerele" style="font-size:129%;">
                        <font size="+2">24x7 Help</font><br><br>
                        Have a query and doubt you need help?<br> Click here.
                    </div>
                </td>

                <td>
                    <div class="centerele" style="font-size:129%;">
                        <font size="+2">Safepay Trust</font><br><br>
                        Your money is yours! All refunds come<br> with no question asked guarantee.
                    </div>
                </td>

                <td>
                    <div class="centerele" style="font-size:129%;">
                        <font size="+2">100% Assurance</font><br><br>
                        At Safepay, we provide 100% assurance.<br> If you have any issue, your<br> money is
                        immediately
                        refunded.
                    </div>
                </td>

                <td>
                    <div class="centerele" style="font-size:129%;">
                        <font size="+2">Our Promise</font><br><br>
                        Happiness is guaranteed at Safepay. <br>If we fall short of your expectations, <br>give us a
                        shout.
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <br><br>

    <section id="contact" style="margin-top: 20px;">
        <br><br>
        <hr style="border-color:black; border-width:1px;">
        <h3 class="title">
            <span>Get</span>
            In Touch
        </h3>

        <table style="margin-left:26%;">
            <tr>
                <td align="center">
                    <div style="margin-left: 10px"><img src="assets/img/phone.svg" height="60px" width="60px"></div>
                    <br>
                    <font size="+2">Call Us On</font><br>
                    +91 96325 55555<br>
                </td>


                <td align="center">
                    <div class="centerele">
                        <div style="margin-left: 500px"></div><img src="assets/img/location.svg" height="60px"
                            width="60px"><br><br>
                        <font size="+2">Visit Office</font><br>
                    </div>
                    DDU,Nadiad,Gujarat,India.<br>
                </td>


                <td align="center">
                    <br>
                    <img src="assets/img/send.svg" height="60px" width="60px"><br><br>
                    <font size="+2">Email Us At</font><br>
                    SafePay40@gmail.com<br><br>
                </td>
            </tr>
        </table>
        <br>
        <form [formGroup]="form" method="POST" (ngSubmit)="send()">
            <table width="100%">
                <tr>
                    <td align="right"><input name="name" id="name" style="width: 68%" formControlName="name" type="text"
                            placeholder="Your Name*" required></td>
                    <td align="left"><input name="email" id="email" type="email" style="width: 68%"
                            formControlName="email" placeholder="Your Email*" required>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="2" align="center"><input name="subject" style="width: 70%" id="subject" type="text"
                            formControlName="subject" placeholder="Your Subject*" required></td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="2" align="center"><textarea name="comments" style="width: 70%; margin-top:0.9%;"
                            formControlName="message" id="comments" rows="4" placeholder="Your message..."></textarea>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="2" align="center"><button style="margin-top:0.9%;" class="btn-sub" type="submit">Send
                            Feedback</button></td>
                </tr>
            </table>
        </form>
    </section>


    <br><br>
    <hr style="border-color:black; border-width:1px;">

    <section id="about">
        <br><br>
        <h3 class="title">
            <span>About</span>
            Me
        </h3>
        <table border="0" style="margin-left:5%;">
            <tr>
                <td>
                    <img style="margin-left: 5%" src="assets/img/spaylogo.png">
                </td>

                <td>
                    <div style="margin-left: 100px; text-align:left; font-size:140%;">

                        Safe Pay (stylized as S Pay; formerly Pay with Safe and Android Pay) is a digital
                        wallet<br><br>

                        platform and online payment system developed by Safe to power in-app and
                        tap-to-pay<br><br>

                        purchases on mobile devices, enabling users to make payments with Android phones,
                        tablets<br><br>

                        or computers. In addition to this, the service also supports passes, Bill pays, event
                        tickets,<br><br>

                        movie tickets, public transportation tickets, store cards, and mobile Recharge.

                    </div>
                </td>
            </tr>

        </table>

    </section>
    <br><br><br><br>
</div>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>